@default-font: 'Roboto', sans-serif;
@nav-bar-width: 180px;
@content-padding: 20px;

* {
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 280px;

  font-family: @default-font;
  font-weight: 300;
  a, u {
    text-decoration: none;
  }
}

.page-heading {
  padding-bottom: 20px;
}

.content-wrapper {
  display: flex;
  padding: @content-padding;
  flex-grow: 1;
  overflow: auto;
}