@import "reset";

@import "mixins";
@import "variables";

@import "layout";

@import "font-awesome/font-awesome";

@import "components/panel";
@import "components/nav-bar";
@import "components/list-selector";
@import "components/tenant-selector";
@import "components/landlord-selector";
@import "components/property-selector";
@import "components/form.less";
@import "components/data-table.less";
@import "components/notification-bar.less";

@import "pages/property-browse";
@import "pages/property-new";
@import "pages/contract-browse";
@import "pages/contract-new";
@import "pages/contract-view";
@import "pages/login";
@import "pages/report-browse";
@import "pages/rent-browse";

@import "pages/report-new";

@import (inline) "../../node_modules/react-date-picker/index.css";

h1 {
  font-size: 2em;
  margin: 1em 0 0.5em;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0 0.5em;
}

.button {
  border: 1px solid rgba(147,128,108,.25);
  background-color: rgba(147,128,108,.1);
  padding: 8px 12px;
  color: #666;
  .clickable;
}
